<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Nancy Test</title>
    <style>
        label 
        {
            display: inline-block;
            text-align: right;
            width: 100px;
        }
    </style>
</head>
<body>
<h1>Nancy Test</h1>
@RenderBody()
</body>
</html>