<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>NancyTest</title>
</head>
<body>
    <h1>NancyTest</h1>
    <p>Ma vraiment toute première application avec le Micro Framework Nancy !</p>
    <p>Tout ça grâce au billet <a href="http://jhovgaard.net/from-aspnet-mvc-to-nancy-part-1">From ASP.NET MVC to Nancy</a>.</p>
</body>
</html>