@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyTest.Objects.BlogPost>
              
@{
    Layout = "_Layout.cshtml";
}

<h2>Ajouter un billet</h2>
<form action="/new" method="post">
<p>
    <label>Id :</label>
    <input type="text" name="Id" value="@Model.Id" />
</p>
<p>
    <label>Titre :</label>
    <input type="text" name="Title" value="@Model.Title" />
</p>
<p>
    <label>Contenu :</label>
    <input type="text" name="Content" value="@Model.Content"/>
</p>
<p>
    <label>Tags :</label>
    <input type="text" name="Tags" value="@string.Join(",", Model.Tags)"/>
</p>
<p>
    <label>&nbsp;</label>
    <input type="submit" value="Créer"/>
    <a href="/">Annuler</a>
</p>
</form>